NODE_ENV=development
ADMIN_CORS=http://localhost:9000
STORE_CORS=http://localhost:8000
AUTH_CORS=http://localhost:9000
JWT_SECRET=24rnhl8586zsss4ilu5ymatewudv27jb
COOKIE_SECRET=qsorh0fz4xvo1ysifc61fr1pjd6052tn

# Usa una de estas opciones:
# Opción 1: PostgreSQL Local
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/medusa_dev

# Opción 2: Docker PostgreSQL
# DATABASE_URL=postgresql://postgres:postgres@localhost:5432/medusa_dev

# Opción 3: Railway (solo para producción, no para generar migraciones)
DATABASE_URL=postgresql://postgres:eXRGCUgISFVqENVqRivxIlIOFAFLSSYc@postgres.railway.internal:5432/railway

MEDUSA_ADMIN_EMAIL=admin@test.com
MEDUSA_ADMIN_PASSWORD=supersecret

# Opcional: Redis local
# REDIS_URL=redis://localhost:6379

# Opcional: Stripe
# STRIPE_API_KEY=
# STRIPE_WEBHOOK_SECRET=

# Opcional: SendGrid
# SENDGRID_API_KEY=
# SENDGRID_FROM=

# Opcional: MinIO
# MINIO_ENDPOINT=
# MINIO_ACCESS_KEY=
# MINIO_SECRET_KEY=
# MINIO_BUCKET=medusa-media
